Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Fix hcaptcha detection in @extra/recaptcha Closes berstend/puppeteer-extra#472
  packages/plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: automation-extra, plugin: recaptcha 🏴

fix(plugin-recaptcha): Update hCaptcha Detection (#473)
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

fix(plugin-recaptcha): Update recaptcha detection to include recaptcha.net
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Catching and ignoring error `Protocol error (Network.getResponseBody): No resource with given identifier found`
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-recaptcha): Add recaptcha.net detection support (#482)
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-recaptcha): Add more detection tests
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-recaptcha): Lower concurrency of CI tests
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-recaptcha): Add useEnterpriseFlag and useActionValue options
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-recaptcha): Add useEnterpriseFlag and useActionValue options (#486)
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix(plugin-stealth): Harden webgl prototypes
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Harden webgl prototypes (#487)
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-recaptcha): Support more recaptcha domain combos
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-recaptcha): Support more recaptcha domain combos (#488)
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-stealth): Catch and mute certain Protocol errors (#484)
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix: typo puppeeteer-extra
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-recaptcha): Improve overall detection & functionality
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-recaptcha): Improve overall detection & functionality (#496)
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Add bare minimum to pass CreepJS
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/index.js
  packages/puppeteer-extra-plugin-stealth/package-lock.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Make worker navigator evasion more robust with Nexus' utils, still need to write tests for new functionality
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix naming of chrome.runtime functions
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Support Yarn PnP
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/_template/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

Support Yarn PnP
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
Labels: package: core, plugin: puppeteer-extra

fs.rmdirSync() deprecated, use rmSync()
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

Add filename field for plugins for Yarn PnP purposes
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-anonymize-ua/index.js
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-click-and-wait/index.js
  packages/puppeteer-extra-plugin-devtools/index.js
  packages/puppeteer-extra-plugin-flash/index.js
  packages/puppeteer-extra-plugin-font-size/index.js
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-repl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.js
  packages/puppeteer-extra-plugin-stealth/index.js
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-preferences/index.js
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Improve implementation from code review suggestions
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
Labels: package: core

fix(plugin-stealth): Make makeHandler consistent with real getters
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Typo
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Send options to click method
  packages/plugin-humanize/src/index.ts
Labels: plugin: automation-extra

Use `process.once` and re-emit the kill signal after cleanup work is complete
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

Update 2captcha-api.ts
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix freeze application
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix freeze application
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix freeze application
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
