Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

feat(plugin-recaptcha): Backport recaptcha enterprise support
  packages/plugin-recaptcha/src/content-recaptcha.ts
  packages/plugin-recaptcha/src/index.ts
Labels: plugin: automation-extra, plugin: recaptcha 🏴

feat(plugin-user-preferences): Add tests
  packages/puppeteer-extra-plugin-user-data-dir/readme.md
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin-user-preferences/readme.md
  packages/puppeteer-extra-plugin-user-preferences/test/basics.js
  packages/puppeteer-extra-plugin-user-preferences/test/direct.js
  packages/puppeteer-extra-plugin-user-preferences/test/indirect.js
Labels: plugin: puppeteer-extra

chore: Update documentation
  packages/automation-extra-plugin/readme.md
  packages/playwright-extra/readme.md
  packages/plugin-recaptcha/readme.md
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: automation-extra, plugin: recaptcha 🏴

chore: Update documentation
  README.md
Labels: none

chore: Update documentation
  packages/playwright-extra/readme.md
Labels: none

chore: Update lerna
  package.json
  yarn.lock
Labels: none

Update bug.md
  .github/ISSUE_TEMPLATE/bug.md
Labels: none

chore: Update lerna.json
  lerna.json
Labels: none

chore: Update lerna.json
  lerna.json
Labels: none

chore: Update package.json
  packages/plugin-recaptcha/package.json
Labels: plugin: automation-extra, plugin: recaptcha 🏴

chore: Bump version
  packages/automation-extra/package.json
Labels: package: core

chore: Bump version
  packages/puppeteer-extra/package.json
Labels: package: core

chore: Bump versions
  packages/automation-extra-plugin/package.json
  packages/automation-extra/package.json
  packages/playwright-extra/package.json
  packages/plugin-recaptcha/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: automation-extra, plugin: recaptcha 🏴

fix: Initialize empty options.arg array
  packages/automation-extra/src/base.ts
Labels: package: core

chore: Move requirement hints to debug log
  packages/automation-extra/src/plugins.ts
Labels: package: core

chore: Pin automation-extra-plugin version
  packages/automation-extra/package.json
Labels: package: core

chore: Bump version
  packages/automation-extra/package.json
Labels: package: core

chore: Bump version
  packages/automation-extra/package.json
Labels: package: core

chore: Bump version
  packages/automation-extra-plugin/package.json
Labels: package: core

docs: Update documentation
  packages/plugin-recaptcha/readme.md
Labels: plugin: automation-extra, plugin: recaptcha 🏴

docs: Update documentation
  packages/puppeteer-extra/readme.md
Labels: package: core

docs: Update documentation
  packages/puppeteer-extra/readme.md
Labels: package: core

chore: Refactor testing-tools to @extra-test/wrap
  helpers/scripts/download-firefox.js
  package.json
  packages/automation-extra/test/browser/env.js
  packages/automation-extra/test/browser/firefox.pptr.js
  packages/automation-extra/test/browser/scripts-shim.js
  packages/automation-extra/test/browser/scripts.js
  packages/plugin-recaptcha/test/find.ts
  packages/plugin-recaptcha/test/solve.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless.js
  packages/testing-tools/package.json
  packages/testing-tools/readme.md
  packages/testing-tools/src/index.ts
  packages/testing-tools/tsconfig.json
  yarn.lock
Labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴

fix: Refactor testing-tools to @extra-test/wrap
  package.json
  yarn.lock
Labels: none

fix: Refactor testing-tools to @extra-test/wrap
  package.json
Labels: none

debug: Debug CI issues with @extra-test/wrap
  .github/workflows/test.yml
Labels: none

debug: Debug CI issues with @extra-test/wrap
  .github/workflows/test.yml
Labels: none

fix: Include @extra-test/wrap
  .github/workflows/test.yml
  helpers/test/wrap/package.json
  helpers/test/wrap/readme.md
  helpers/test/wrap/src/index.ts
  helpers/test/wrap/tsconfig.json
  package.json
Labels: none

chore: Update yarn.lock
  yarn.lock
Labels: none

ci: Add yarn build:helpers
  .github/workflows/test.yml
Labels: none

ci: Fix yarn build:helpers
  .github/workflows/test.yml
Labels: none

ci: Fix yarn build:helpers
  .github/workflows/test.yml
Labels: none

fix: Refactor @extra-test/wrap
  .github/workflows/test.yml
  package.json
  packages/test/wrap/package.json
  packages/test/wrap/readme.md
  packages/test/wrap/src/index.ts
  packages/test/wrap/tsconfig.json
Labels: none

chore: Update yarn.lock
  yarn.lock
Labels: none

fix: Refactor @extra-test/wrap
  helpers/test/wrap/package.json
  helpers/test/wrap/readme.md
  helpers/test/wrap/src/index.ts
  helpers/test/wrap/tsconfig.json
  lerna.json
  package.json
  yarn.lock
Labels: none

chore: Clean up local tooling
  .eslintrc-ts.js
  packages/automation-extra/.eslintrc.js
  packages/automation-extra/ava.config-ts.js
  packages/automation-extra/package.json
  packages/automation-extra/rollup.config.ts
  packages/automation-extra/tsconfig.build.json
  packages/automation-extra/tsconfig.eslint.json
  packages/automation-extra/tsconfig.json
  tsconfig.json
Labels: package: core

chore: Update yarn.lock
  yarn.lock
Labels: none

feat(plugin-humanize): Add @extra/humanize plugin
  packages/plugin-humanize/.eslintrc.js
  packages/plugin-humanize/ava.config-ts.js
  packages/plugin-humanize/package.json
  packages/plugin-humanize/readme.md
  packages/plugin-humanize/rollup.config.ts
  packages/plugin-humanize/src/index.ts
  packages/plugin-humanize/src/mouse/calc.ts
  packages/plugin-humanize/src/mouse/helper.ts
  packages/plugin-humanize/src/mouse/math.ts
  packages/plugin-humanize/src/mouse/spoof.ts
  packages/plugin-humanize/src/mouse/types.ts
  packages/plugin-humanize/src/types.ts
  packages/plugin-humanize/test/click.ts
  packages/plugin-humanize/tsconfig.build.json
  packages/plugin-humanize/tsconfig.eslint.json
  packages/plugin-humanize/tsconfig.json
Labels: plugin: automation-extra

chore(plugin-humanize): Enable publishing of scoped package
  packages/plugin-humanize/package.json
Labels: plugin: automation-extra

chore(plugin-humanize): Fix package and test quirk
  packages/plugin-humanize/package.json
  packages/plugin-humanize/test/click.ts
Labels: plugin: automation-extra
