Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

add missing build step in extract-stealth.yml
  .github/workflows/extract-stealth.yml
Labels: none

package.json cleaning
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

remove tslint + fix extract-stealth.yml
  .github/workflows/extract-stealth.yml
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/tslint.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-recaptcha/tslint.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/tslint.json
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/tslint.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

add lint
  .eslintrc
  .eslintrc.cjs
  .github/workflows/extract-stealth.yml
  package.json
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.d.ts
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/test/events.ts
  packages/puppeteer-extra/test/options.ts
  packages/puppeteer-extra/test/plugin-support.ts
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

fix typing in puppeteer-extra-plugin-recaptcha
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix workflow
  .github/workflows/extract-stealth.yml
  packages/extract-stealth-evasions/package.json
Labels: plugin: stealth ㊙️

extand ava timeout
  .github/workflows/extract-stealth.yml
  packages/puppeteer-extra-plugin/package.json
Labels: package: core

add missing PluginOptions
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

update pipeline
  .github/workflows/extract-stealth.yml
Labels: none

extand timeout
  packages/puppeteer-extra-plugin/package.json
Labels: package: core

remove old lint
  .github/workflows/extract-stealth.yml
  package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update workflows
  .github/workflows/extract-stealth.yml
  .github/workflows/test.yml
Labels: none

new eslint conf
  .eslintrc
  .eslintrc.cjs
  .github/workflows/extract-stealth.yml
  package.json
  yarn.lock
Labels: none

remove <{}>
  .github/workflows/extract-stealth.yml
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/test/events.ts
  packages/puppeteer-extra/test/options.ts
  packages/puppeteer-extra/test/plugin-support.ts
Labels: package: core

rollback lint
  .github/workflows/extract-stealth.yml
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.d.ts
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

Fix: So that the plugin also works with puppeteer@14
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix: update defaultArgs test(s)
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix: remove blank spaces because of #653
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

bugfix: puppeteer@14.4.1: page._client -> page._client()
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-recaptcha): Fix failing hcaptcha test
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-stealth): Disable mandatory linting for now
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Support puppeteer 14 private cdp client (#653)
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(plugin-stealth): Refactor puppeteer CDP client usage
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

docs: Update test instructions
  README.md
Labels: none

chore(extract-stealth): Update CI workflow
  .github/workflows/extract-stealth.yml
Labels: none

fix(plugin-recaptcha): Update hcaptcha challenge query selector
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-recaptcha): Add hcaptcha active challenge test
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Change `hcaptcha.com` script recognition url (#629)
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-anonymize-ua): Add type declarations (#582)
  packages/puppeteer-extra-plugin-anonymize-ua/index.d.ts
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
Labels: plugin: puppeteer-extra

docs: Fix readme typo (#493)
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-recaptcha): Use https for the 2captcha captcha solving API (#457)
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-adblocker): Add cooperative intercept mode support (#592)
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-block-resources/example.js
  packages/puppeteer-extra-plugin-block-resources/index.d.ts
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-block-resources/index.test.js
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-block-resources/readme.md
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra

fix(plugin-stealth): Improve iframe.contentWindow (#565)
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-recaptcha): Add proxy support (#580)
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

deps(plugin-adblocker): Bump adblocker-puppeteer to 1.23.8
  packages/puppeteer-extra-plugin-adblocker/package.json
  yarn.lock
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

ci: Update test matrix
  .github/workflows/extract-stealth.yml
  .github/workflows/test.yml
Labels: none

ci: Update test matrix
  .github/workflows/test.yml
Labels: none

ci: Update workflow
  .github/workflows/extract-stealth.yml
Labels: none

ci: Update workflow
  .github/workflows/extract-stealth.yml
Labels: none
