Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

Use rimraf to delete temp userDataDir
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

Allow to start the tests without opening a PR
  .github/workflows/test.yml
Labels: none

fix(plugin-stealth): Revert iframe.contentWindow changes and add tests
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Revert iframe.contentWindow changes and add tests (#657)
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

retrocompatibility plugin patch
  packages/puppeteer-extra/src/PuppeteerExtra.ts
Labels: package: core

regen lock
  yarn.lock
Labels: none

fix master change imports
  packages/puppeteer-extra-plugin-block-resources/index.ts
  packages/puppeteer-extra-plugin-devtools/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

test 14.2.1
  .github/workflows/test.yml
Labels: none

extends test timeout
  packages/puppeteer-extra-plugin-devtools/package.json
Labels: plugin: puppeteer-extra

dump pptr 13.7.0 to 14.2.1
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

update tests
  .github/workflows/test-macOS.yml
Labels: none

improve tests
  .github/workflows/test-macOS.yml
  .github/workflows/test.yml
Labels: none

improve puppeteer-extra-plugin-recaptcha typing
  package.json
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

less workflow test.
  .github/workflows/test-macOS.yml
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-user-preferences/index.ts
Labels: plugin: puppeteer-extra

remove declare var window: any;
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/examples/detect-headless.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add missing @types/chrome
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/tsconfig.json
Labels: plugin: puppeteer-extra

unify @types/chrome Version + lock
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

add missing @types/chrome + lock
  .github/workflows/extract-stealth.yml
  .github/workflows/test.yml
  package.json
  packages/extract-stealth-evasions/package.json
  packages/extract-stealth-evasions/tsconfig.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/package.json
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update lock
  yarn.lock
Labels: none

reset yarn lock
  yarn.lock
Labels: none

add yarn.lock in workflow paths
  .github/workflows/extract-stealth.yml
  .github/workflows/test-macOS.yml
  .github/workflows/test.yml
Labels: none

drop windows-latest build
  .github/workflows/test.yml
Labels: none

localtunnel.me is down
  .vscode/launch.json
  packages/puppeteer-extra-plugin-devtools/index.test.js
Labels: plugin: puppeteer-extra

update cach in workflow
  .github/workflows/test-macOS.yml
Labels: none

update gitflow version
  .github/workflows/test.yml
Labels: none

add yarn install
  .github/workflows/test.yml
Labels: none

put back bahmutov/npm-install@v1
  .github/workflows/test.yml
Labels: none

patch test
  .github/workflows/test.yml
Labels: none

disable test execution
  .github/workflows/test.yml
Labels: none

try to fix test
  .github/workflows/test.yml
Labels: none

re-enable tests
  .github/workflows/test.yml
Labels: none

test macOSX
  .github/workflows/test-macOS.yml
Labels: none

rollbackactions/setup-node@v3
  .github/workflows/test-macOS.yml
Labels: none

add some typings
  package.json
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat: Add playwright-extra
  packages/playwright-extra/.prettierrc.js
  packages/playwright-extra/package.json
  packages/playwright-extra/readme.md
  packages/playwright-extra/rollup.config.ts
  packages/playwright-extra/src/extra.ts
  packages/playwright-extra/src/helper/loader.ts
  packages/playwright-extra/src/index.ts
  packages/playwright-extra/src/plugins.ts
  packages/playwright-extra/src/puppeteer-compatiblity-shim/index.ts
  packages/playwright-extra/src/puppeteer-compatiblity-shim/playwright-shim.d.ts
  packages/playwright-extra/src/types/index.ts
  packages/playwright-extra/test/exports.spec.ts
  packages/playwright-extra/test/fixtures/dummyplugin.ts
  packages/playwright-extra/test/fixtures/extra.ts
  packages/playwright-extra/test/playwright.config.ts
  packages/playwright-extra/test/plugin-events.spec.ts
  packages/playwright-extra/test/puppeteer-plugins/anonymize-ua.spec.ts
  packages/playwright-extra/test/puppeteer-plugins/recaptcha.spec.ts
  packages/playwright-extra/test/puppeteer-plugins/stealth.spec.ts
  packages/playwright-extra/tsconfig.json
  yarn.lock
Labels: none

ci: Update node test matrix
  .github/workflows/test.yml
Labels: none

ci: Remove --no-sandbox for webkit
  packages/playwright-extra/test/playwright.config.ts
Labels: none

feat: Add playwright-extra (#664)
  .github/workflows/test.yml
  packages/playwright-extra/.prettierrc.js
  packages/playwright-extra/package.json
  packages/playwright-extra/readme.md
  packages/playwright-extra/rollup.config.ts
  packages/playwright-extra/src/extra.ts
  packages/playwright-extra/src/helper/loader.ts
  packages/playwright-extra/src/index.ts
  packages/playwright-extra/src/plugins.ts
  packages/playwright-extra/src/puppeteer-compatiblity-shim/index.ts
  packages/playwright-extra/src/puppeteer-compatiblity-shim/playwright-shim.d.ts
  packages/playwright-extra/src/types/index.ts
  packages/playwright-extra/test/exports.spec.ts
  packages/playwright-extra/test/fixtures/dummyplugin.ts
  packages/playwright-extra/test/fixtures/extra.ts
  packages/playwright-extra/test/playwright.config.ts
  packages/playwright-extra/test/plugin-events.spec.ts
  packages/playwright-extra/test/puppeteer-plugins/anonymize-ua.spec.ts
  packages/playwright-extra/test/puppeteer-plugins/recaptcha.spec.ts
  packages/playwright-extra/test/puppeteer-plugins/stealth.spec.ts
  packages/playwright-extra/tsconfig.json
  yarn.lock
Labels: none

feat(plugin-recaptcha): Add playwright type mods
  packages/puppeteer-extra-plugin-recaptcha/src/playwright-mods.d.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴
