Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

ccontinue merge
  packages/puppeteer-extra/src/PuppeteerExtra.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core

merge
  packages/puppeteer-extra/src/deps.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core

merge stealthtests
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.ts
  pnpm-lock.yaml
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

reduce code size, fix windows compatibility
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-stealth/stealthtests/common.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.ts
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

feat: Add plugin proxy-router
  packages/plugin-proxy-router/package.json
  packages/plugin-proxy-router/readme.md
  packages/plugin-proxy-router/rollup.config.ts
  packages/plugin-proxy-router/src/index.ts
  packages/plugin-proxy-router/src/plugin.ts
  packages/plugin-proxy-router/src/router.ts
  packages/plugin-proxy-router/src/stats.ts
  packages/plugin-proxy-router/tsconfig.json
  packages/plugin-proxy-router/tslint.json
  yarn.lock
Labels: plugin: automation-extra

fix(plugin-proxy-router): Vendor in getPort
  packages/plugin-proxy-router/package.json
  packages/plugin-proxy-router/src/router.ts
  packages/plugin-proxy-router/src/utils/port.ts
  yarn.lock
Labels: plugin: automation-extra

fix(plugin-proxy-router): Update engine version
  packages/plugin-proxy-router/package.json
Labels: plugin: automation-extra

ci: Update puppeteer version matrix
  .github/workflows/test.yml
Labels: none

fix(plugin-proxy-router): Remove pptr core dev dependency
  packages/plugin-proxy-router/package.json
  yarn.lock
Labels: plugin: automation-extra

chore: Bump typescript version
  packages/puppeteer-extra-plugin-adblocker/package.json
  yarn.lock
Labels: plugin: puppeteer-extra

chore: Change puppeteer package
  packages/plugin-proxy-router/src/plugin.ts
Labels: plugin: automation-extra

chore: Simplify types
  packages/plugin-proxy-router/src/plugin.ts
Labels: plugin: automation-extra

ci: Update playwright install
  .github/workflows/test.yml
Labels: none

ci: Update playwright install
  .github/workflows/test.yml
Labels: none

fix: Prefer regular package over -core
  packages/playwright-extra/src/helper/loader.ts
Labels: none

fix: Revert: Prefer regular package over -core
  packages/playwright-extra/src/helper/loader.ts
Labels: none

chore: Bump playwright version
  packages/playwright-extra/package.json
  packages/plugin-proxy-router/package.json
  yarn.lock
Labels: plugin: automation-extra

ci: Update puppeteer version matrix
  .github/workflows/test.yml
Labels: none

chore: Fix failing tests
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat: Add plugin proxy-router (#693)
  .github/workflows/test.yml
  packages/playwright-extra/package.json
  packages/plugin-proxy-router/package.json
  packages/plugin-proxy-router/readme.md
  packages/plugin-proxy-router/rollup.config.ts
  packages/plugin-proxy-router/src/index.ts
  packages/plugin-proxy-router/src/plugin.ts
  packages/plugin-proxy-router/src/router.ts
  packages/plugin-proxy-router/src/stats.ts
  packages/plugin-proxy-router/src/utils/port.ts
  packages/plugin-proxy-router/tsconfig.json
  packages/plugin-proxy-router/tslint.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
  yarn.lock
Labels: plugin: automation-extra, plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/playwright-extra/package.json
  packages/plugin-proxy-router/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: automation-extra, plugin: puppeteer-extra, plugin: stealth ㊙️

chore: Update readme
  packages/plugin-proxy-router/readme.md
Labels: plugin: automation-extra

Publish
  packages/plugin-proxy-router/package.json
Labels: plugin: automation-extra

chore: Update readme
  packages/plugin-proxy-router/readme.md
Labels: plugin: automation-extra

chore: Update readme
  packages/playwright-extra/readme.md
Labels: none

Publish
  packages/playwright-extra/package.json
  packages/plugin-proxy-router/package.json
Labels: plugin: automation-extra

chore: Update readme
  packages/plugin-proxy-router/readme.md
Labels: plugin: automation-extra

Update Readme: add use-case examples
  packages/puppeteer-extra-plugin-user-preferences/readme.md
Labels: plugin: puppeteer-extra

fix typo :)
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix: update merge-deep version to resolve security issue
  packages/plugin-proxy-router/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin/package.json
  yarn.lock
Labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴

Adding second example
  packages/puppeteer-extra-plugin-user-preferences/readme.md
Labels: plugin: puppeteer-extra

allow custom data to be sent
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

change func
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update package.json
  packages/playwright-extra/package.json
Labels: none

Add undefined check to onDebugBindingCalled exposed function
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Expose PuppeteerExtraPluginRecaptcha error
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Resolved executablePath issue from the example.
  packages/puppeteer-extra/readme.md
Labels: package: core

Prefer puppeteer over puppeteer-core
  packages/puppeteer-extra/src/index.ts
Labels: package: core

fix `unexpected token '{'` errors @ plugin-recaptcha when using esbuild.
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴
