Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

update rimraf version
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/index.d.ts
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/test/events.ts
  packages/puppeteer-extra/test/options.ts
  packages/puppeteer-extra/test/plugin-support.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

improve ava conf
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/test/options.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

puppeteer-extra-plugin-flash TS
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-flash/index.ts
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-flash/tsconfig.json
  packages/puppeteer-extra-plugin-user-data-dir/index.ts
  yarn.lock
Labels: plugin: puppeteer-extra

fix ts config
  packages/puppeteer-extra-plugin-flash/tsconfig.json
Labels: plugin: puppeteer-extra

fix flash plugin
  packages/puppeteer-extra-plugin-flash/index.ts
Labels: plugin: puppeteer-extra

convert js to TS
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/stealthtests/common.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.ts
  packages/puppeteer-extra-plugin-stealth/stealthtests/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

patch test
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.test.js
  packages/puppeteer-extra-plugin-stealth/runall_stealthtests.sh
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

puppeteer-extra-plugin-repl TS
  .gitignore
  .vscode/launch.json
  packages/puppeteer-extra-plugin-repl/index.d.ts
  packages/puppeteer-extra-plugin-repl/index.test.js
  packages/puppeteer-extra-plugin-repl/index.ts
  packages/puppeteer-extra-plugin-repl/lib/REPLSession.test.js
  packages/puppeteer-extra-plugin-repl/lib/REPLSession.ts
  packages/puppeteer-extra-plugin-repl/lib/super-readline.test.js
  packages/puppeteer-extra-plugin-repl/lib/super-readline.ts
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-repl/tsconfig.json
Labels: plugin: puppeteer-extra

add missing import
  packages/puppeteer-extra-plugin-repl/index.ts
Labels: plugin: puppeteer-extra

fix err
  packages/puppeteer-extra-plugin-repl/index.ts
Labels: plugin: puppeteer-extra

puppeteer-extra-plugin-devtools TS
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-devtools/index.ts
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.ts
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/tsconfig.json
  packages/puppeteer-extra-plugin/src/index.ts
  yarn.lock
Labels: package: core, plugin: puppeteer-extra

add missing build
  packages/puppeteer-extra-plugin-devtools/package.json
Labels: plugin: puppeteer-extra

fix import
  packages/puppeteer-extra-plugin-devtools/index.ts
  packages/puppeteer-extra-plugin-repl/index.d.ts
Labels: plugin: puppeteer-extra

patch test
  packages/puppeteer-extra-plugin-devtools/index.test.js
Labels: plugin: puppeteer-extra

puppeteer-extra-plugin-click-and-wait TS
  .vscode/settings.json
  packages/puppeteer-extra-plugin-click-and-wait/example.js
  packages/puppeteer-extra-plugin-click-and-wait/index.ts
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-click-and-wait/tsconfig.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core, plugin: puppeteer-extra

fix puppeteer-extra-plugin-click-and-wait
  packages/puppeteer-extra-plugin-click-and-wait/example.ts
  packages/puppeteer-extra-plugin-click-and-wait/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core, plugin: puppeteer-extra

update tests
  packages/puppeteer-extra-plugin-stealth/examples/detect-headless.ts
  packages/puppeteer-extra-plugin-stealth/examples/files/detectHeadless.html
  packages/puppeteer-extra-plugin-stealth/examples/files/index.html
  packages/puppeteer-extra-plugin-stealth/examples/files/intoli/chrome-headless-test.js
  packages/puppeteer-extra-plugin-stealth/examples/files/intoli/index.html
  packages/puppeteer-extra-plugin-stealth/examples/files/sannysoft/fpCollect.min.js
  packages/puppeteer-extra-plugin-stealth/examples/files/sannysoft/fpScanner.js
  packages/puppeteer-extra-plugin-stealth/examples/files/sannysoft/index.html
  packages/puppeteer-extra-plugin-stealth/examples/files/sannysoft/modernizr.js
  packages/puppeteer-extra-plugin-stealth/examples/selfthosted.ts
  packages/puppeteer-extra-plugin-stealth/examples/test1.js
  packages/puppeteer-extra-plugin-stealth/examples/test1.ts
  packages/puppeteer-extra-plugin-stealth/examples/test2.ts
  packages/puppeteer-extra-plugin-stealth/package.json
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update deps
  .gitignore
  .vscode/settings.json
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

update extract-stealth-evasions
  packages/extract-stealth-evasions/index.js
  packages/extract-stealth-evasions/package.json
  yarn.lock
Labels: plugin: stealth ㊙️

extract-stealth-evasions TS
  packages/extract-stealth-evasions/index.ts
  packages/extract-stealth-evasions/package.json
  packages/extract-stealth-evasions/tsconfig.json
  yarn.lock
Labels: plugin: stealth ㊙️

rewrite dependences injection
  .editorconfig
  .github/workflows/test.yml
  .gitignore
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-flash/index.ts
  packages/puppeteer-extra-plugin-font-size/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/examples/test1.ts
  packages/puppeteer-extra-plugin-stealth/examples/test2.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin-user-preferences/index.ts
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/src/PuppeteerExtra.ts
  packages/puppeteer-extra/src/deps.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

improve stealt code
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

change pptr version to 14.2.1
  .github/workflows/extract-stealth.yml
  .github/workflows/test.yml
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

new yarn lock
  yarn.lock
Labels: none

update puppeteer
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

merge deps to master
  .editorconfig
  .eslintrc
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package.json
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/index.test.js
  packages/puppeteer-extra-plugin-stealth/index.ts
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix missing space
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

clean puppeteer-extra-plugin-stealth
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

merge
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/src/PuppeteerExtra.ts
  packages/puppeteer-extra/src/deps.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

patch sourceurl evasion test
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/_fixtures/test.html
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

drop some example.com
  packages/puppeteer-extra/test/plugin-support.ts
Labels: package: core

add missing exports
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

restore sourceurl test
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

enable macos an windows
  .github/workflows/test.yml
Labels: none

drop macos
  .github/workflows/test.yml
Labels: none

less builds
  .github/workflows/test.yml
  .yarnrc
Labels: none

dump ava 3.15, downgrad pptr 13
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

increate EventEmitter.defaultMaxListeners in test
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

PluginDependencies = Array<string> | Set<string>
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/src/PuppeteerExtra.ts
  packages/puppeteer-extra/src/deps.ts
Labels: package: core

drop compileEnhancements: false plugin-adblocker
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra
