Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix(plugin-stealth): Improve navigator patching (#409)
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-recaptcha): Add support for reCAPTCHA Enterprise Add reCAPTCHA Enterprise support (#400)
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(automation-extra): adding enhanced ambient types for puppeteer
  .gitignore
  README.md
  package.json
  packages/automation-extra/package.json
  packages/automation-extra/src/types/cdp.ts
  packages/automation-extra/src/types/puppeteer-mods.ts
  packages/automation-extra/src/types/puppeteer.ts
  yarn.lock
Labels: package: core

fix(automation-extra): removing readonly from properties
  packages/automation-extra/src/types/puppeteer.ts
Labels: package: core

Add support for UA hints
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update docs
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add more tests, update docs properly
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix path
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Stricter regexpes, set lang as preference if using headful
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix for connect()
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Test locale too
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add maskLinux option, update docs
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-stealth): Add support for UA hints (#413)
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add dependency
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add dependency on stealth (#416)
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-user-preferences): Add plugin-user-data-dir as dependency
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-user-preferences): Remove launch and headful warnings
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-preferences/index.js
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore: Fix linting
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-preferences/index.js
Labels: plugin: puppeteer-extra

Fix link to Chromium code
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix stealth plugin webdriver override
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix misnamed variable
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Fix AutomationControlled flag override (#418)
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(github): Increase extractor delay
  .github/workflows/extract-stealth.yml
Labels: none

Fix link to Chromium code (#417)
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update NodeJS and puppeteer in GH action
  .github/workflows/test.yml
Labels: none

chore(ci): Bump NodeJS to v15 and puppeteer to v7 (#419)
  .github/workflows/test.yml
Labels: none

chore(github): Create funding.yml
  .github/FUNDING.yml
Labels: none

chore: Skip Puppeteer Firefox tests if not installed
  packages/testing-tools/src/index.ts
Labels: none

chore: Update dependencies
  packages/automation-extra-plugin/package.json
  packages/automation-extra/package.json
  packages/plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  yarn.lock
Labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Fix: Fire context events only once
  packages/automation-extra/src/base.ts
  packages/automation-extra/test/events.pptr.js
  packages/automation-extra/test/events.pw.js
Labels: package: core

chore: Bump playwright-core to 1.8.0
  packages/automation-extra-plugin/package.json
  packages/automation-extra/package.json
  packages/playwright-extra/package.json
  yarn.lock
Labels: package: core

chore: Add gitignore exlclusion and fsevents hint
  .gitignore
  README.md
Labels: none

chore: Bump playwright to 1.8.0
  packages/automation-extra/package.json
  packages/playwright-extra/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
