Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update readme.md
  packages/playwright-extra/readme.md
Labels: none

Update readme.md
  packages/puppeteer-extra/readme.md
Labels: package: core

Update readme.md
  packages/plugin-humanize/readme.md
Labels: plugin: automation-extra

Update readme.md
  packages/plugin-recaptcha/readme.md
Labels: plugin: automation-extra, plugin: recaptcha 🏴

remove @types/puppeteer (no more needed)
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package-lock.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

update code to compile with puppeteer 8.0.0
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

puppeteer 8 need typescript 4+
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core

test pptr v8.0.0
  .github/workflows/test.yml
Labels: none

try new build matrix
  .github/workflows/test.yml
Labels: none

perpare support multi pptr
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer.ts
Labels: package: core

patch workflows
  .github/workflows/test.yml
  packages/puppeteer-extra/src/puppeteer.ts.legacy
Labels: package: core

fix pptr 2 build error
  .github/workflows/test.yml
Labels: none

try to build pptr 2
  .github/workflows/test.yml
Labels: none

all test on
  .github/workflows/test-legacy.yml
Labels: none

force test V8 on node 15
  .github/workflows/test.yml
Labels: none

remove pptr 7.0.0. from tests
  .github/workflows/test-legacy.yml
Labels: none

add one more test build +add copy pupetter.ts
  .github/workflows/test.yml
  packages/puppeteer-extra/src/puppeteer.ts.new
Labels: package: core

fix stap name in workflows
  .github/workflows/test-legacy.yml
  .github/workflows/test.yml
Labels: none

default puppeteer is now 8.0.0
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

conversion to Typescript
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

convert typescript
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/functionMocks.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/magicArray.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra-plugin-stealth/index.d.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

migrate to TS
  .gitignore
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add build script
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

convert TS
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/magicArray.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update gitignore + allow any
  .gitignore
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

patch typing
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix invalid type
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

remove relative import
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

typo
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Uses https for the 2captcha captcha solving API.
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

drop pptr 2.0 and typescript 3.x references.
  yarn.lock
Labels: none

update user-agent version regex extraction
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add test for new windows 10 user agent
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update test for new windows 10 user agent
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add hand test workflow
  .github/workflows/manual.yml
Labels: none

fix imports format
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

more conversion
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.test.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.ts
  packages/puppeteer-extra-plugin-stealth/test/util.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

patch typing
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer.ts
Labels: package: core

update ava version
  .gitignore
  package.json
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/ava.config-ts.js
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/ava.config-ts.js
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.test.ts
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/test/util.ts
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/ava.config-ts.js
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/ava.config-ts.js
  packages/puppeteer-extra/ava.config.js
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer.ts
  packages/puppeteer-extra/test/connect.ts
  packages/puppeteer-extra/test/events.ts
  packages/puppeteer-extra/test/options.ts
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️
