Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

refactor utils export
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

small package changes
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

windows build patch
  package.json
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

remove vanilla navigator.languages test
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

conver 2 evasion to TS
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

one more evasion
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

port evasions
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

rollback
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

use default exports
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.js
  packages/puppeteer-extra-plugin-stealth/index.test.js
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-preferences/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

use defAULT EXPORT
  packages/puppeteer-extra-plugin-anonymize-ua/index.js
  packages/puppeteer-extra-plugin-anonymize-ua/index.test.js
  packages/puppeteer-extra-plugin-anonymize-ua/readme.md
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless_off.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/popup.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/stresstest.js
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-block-resources/index.test.js
  packages/puppeteer-extra-plugin-click-and-wait/index.js
  packages/puppeteer-extra-plugin-devtools/index.js
  packages/puppeteer-extra-plugin-devtools/index.test.js
  packages/puppeteer-extra-plugin-devtools/test/headless.js
  packages/puppeteer-extra-plugin-flash/index.js
  packages/puppeteer-extra-plugin-font-size/index.js
  packages/puppeteer-extra-plugin-repl/index.js
  packages/puppeteer-extra-plugin-repl/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

use default export
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/test/connect.ts
Labels: package: core

try windows patch
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

try with ||
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

vonvert JS to TS
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

JS to TS
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

more TS files
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add Type Aliases + use once
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

enforce typing on onPageCreated
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

enforce typing
  .vscode/settings.json
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/test/options.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

heavy typing pass
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.d.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

more typing
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

more types
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

more types
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/functionMocks.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

one more ts
  .gitignore
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/magicArray.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

strict mode enabled
  .vscode/settings.json
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.d.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

small patch in typing
  .vscode/settings.json
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update old deps
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

more types
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

fix type errors
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra

convert puppeteer-extra-plugin-anonymize-ua to TS
  .gitignore
  packages/puppeteer-extra-plugin-anonymize-ua/index.ts
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/tsconfig.json
Labels: plugin: puppeteer-extra

fix package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/tsconfig.json
Labels: plugin: puppeteer-extra

add clean
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
Labels: plugin: puppeteer-extra

upgrade test
  packages/puppeteer-extra-plugin-anonymize-ua/index.ts
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless.test.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless_off.test.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/index.test.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/popup.test.js
  packages/puppeteer-extra-plugin-anonymize-ua/test/stresstest.test.js
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/test/index.test.ts
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

puppeteer-extra-plugin-block-resources TS
  .gitignore
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/index.ts
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-block-resources/test/index.test.js
  packages/puppeteer-extra-plugin-block-resources/tsconfig.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core, plugin: puppeteer-extra

convert puppeteer-extra-plugin-user-data-dir
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-font-size/readme.md
  packages/puppeteer-extra-plugin-repl/readme.md
  packages/puppeteer-extra-plugin-user-data-dir/index.ts
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-data-dir/tsconfig.json
  yarn.lock
Labels: plugin: puppeteer-extra

puppeteer-extra-plugin-user-preferences TS
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-user-preferences/index.ts
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin-user-preferences/tsconfig.json
  yarn.lock
Labels: plugin: puppeteer-extra

puppeteer-extra-plugin-font-size TS
  .gitignore
  .vscode/settings.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-font-size/index.ts
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-font-size/tsconfig.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra

add setPluginOptions, get pluginOptions
  .vscode/settings.json
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra/src/PuppeteerExtra.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

update deps
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Revert "update deps"
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️
