Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

rollback test
  packages/puppeteer-extra-plugin/ava.config-ts.js
  packages/puppeteer-extra-plugin/ava.config.js
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.test.ts
Labels: package: core

add some typing ton puppeteer-extra-plugin
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core

TRY TO DEAL WITH puppeteer-legacy
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer-legacy.d.ts
Labels: package: core

UPDATE BUILD MATRIX
  .github/workflows/test.yml
Labels: none

update build matrix
  .github/workflows/test.yml
Labels: none

update GL test + update https-proxy-agent@^2.2.3
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

pptr 14
  .github/workflows/test.yml
Labels: none

fry fix pptr 14 test
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

update PuppeteerExtraPlugin
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

update PuppeteerExtraPlugin
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

add old export
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

remove ava config files
  packages/puppeteer-extra-plugin/ava.config-ts.js
  packages/puppeteer-extra-plugin/ava.config.js
  packages/puppeteer-extra-plugin/package.json
Labels: package: core

drop all ava config files
  packages/puppeteer-extra-plugin-adblocker/ava.config-ts.js
  packages/puppeteer-extra-plugin-adblocker/ava.config.js
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/ava.config-ts.js
  packages/puppeteer-extra-plugin-recaptcha/ava.config.js
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

patch for windows build
  .prettierrc.js
  packages/post-replace.js
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

fix path
  packages/post-replace.js
Labels: none

remove replace-in-files-cli
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

clean tsconfig.json
  package.json
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
  packages/puppeteer-extra-plugin/tsconfig.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

drop puppeteer-firefox + fix windows build
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/test/addExtra.ts
Labels: package: core, plugin: puppeteer-extra

parcial roll back
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra

windows patch
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

rollback + prettier
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

try fix windows build
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

new rollback
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

move test files in test directory
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/test/index.test.ts
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-recaptcha/test/detection.test.ts
  packages/puppeteer-extra-plugin-recaptcha/test/index.test.ts
  packages/puppeteer-extra-plugin-recaptcha/test/solve.test.ts
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/test/index.test.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

remove ava --fail-fast
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-recaptcha/test/index.test.ts
  packages/puppeteer-extra-plugin/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

fix test
  packages/puppeteer-extra-plugin-recaptcha/test/index.test.ts
  packages/puppeteer-extra-plugin-recaptcha/test/solve.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

merge 2 puppeteer-legacy.d.ts
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer-legacy.d.ts
  packages/puppeteer-legacy.d.ts
Labels: package: core

trey fix build error
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core

move back puppeteer-legacy.d.ts
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core

remove pptr 5.5.0
  .github/workflows/test.yml
Labels: none

Revert "remove pptr 5.5.0"
  .github/workflows/test.yml
Labels: none

Revert "move back puppeteer-legacy.d.ts"
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core

Revert "trey fix build error"
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core

Revert "merge 2 puppeteer-legacy.d.ts"
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer-legacy.d.ts
Labels: package: core

mac M1 test
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
  packages/puppeteer-extra-plugin-stealth/test/util.js
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

update caniuse-lite
  yarn.lock
Labels: none

TS
  packages/puppeteer-extra-plugin-stealth/index.d.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
  yarn.lock
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

patch ava conf
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

move generated code
  .gitignore
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/tsconfig.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

refactor export in withUtils
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
