Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix(plugin-stealth): Support generic windows UA in user-agent-override
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

ci: Make test more robust
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Support generic windows UA in user-agent-override (#563)
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Improve iframe.srcdoc evasion (#562)
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Make makeHandler consistent with real getters (#506)
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-user-data-dir): Use new fs.rmSync when available
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

fix(plugin-user-data-dir): Use new fs.rmSync when available (#564)
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

deps(plugin-devtools): Bump url-parse from 1.4.0 to 1.5.3 (#536)
  packages/puppeteer-extra-plugin-devtools/package.json
Labels: plugin: puppeteer-extra

deps(plugin-user-data-dir): Bump fs-extra to v10.0.0 to avoid DeprecationWarning (#542)
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-devtools): Support headless again by modifying index page
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/readme.md
  packages/puppeteer-extra-plugin-devtools/test/headless.js
  yarn.lock
Labels: plugin: puppeteer-extra

fix(plugin-devtools): Support headless again by modifying index page (#567)
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/readme.md
  packages/puppeteer-extra-plugin-devtools/test/headless.js
  yarn.lock
Labels: plugin: puppeteer-extra

Publish
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra

fix: handled localtunnel error event
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
Labels: plugin: puppeteer-extra

swapped to console logging instead of debug log
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
Labels: plugin: puppeteer-extra

removed semicolon to match existing formatting
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
Labels: plugin: puppeteer-extra

removed paren around parameter to please the linter
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
Labels: plugin: puppeteer-extra

fix(plugin-devtools): Add localtunnel error event (#569)
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
Labels: plugin: puppeteer-extra

Publish
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra

docs(puppeteer-extra): Add puppeteer-extra-plugin-portal to readme
  packages/puppeteer-extra/readme.md
Labels: package: core

docs(puppeteer-extra): Remove puppeteer types notice
  packages/puppeteer-extra/readme.md
Labels: package: core

docs(puppeteer-extra): Remove types notice, add community plugin (#571)
  packages/puppeteer-extra/readme.md
Labels: package: core

fix(plugin-stealth): Harden proxy and toString behavior
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/_results/headful-chrome-stealth.js.png
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Harden proxy and toString behavior (#573)
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/_results/headful-chrome-stealth.js.png
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-stealth): Add defaultArgs evasion
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/readme.md
  packages/puppeteer-extra-plugin-stealth/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-stealth): Add defaultArgs evasion (#579)
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/readme.md
  packages/puppeteer-extra-plugin-stealth/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add proxy support
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

add declare file
  packages/puppeteer-extra-plugin-anonymize-ua/index.d.ts
Labels: plugin: puppeteer-extra

add declare file to package json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
Labels: plugin: puppeteer-extra

fix(plugin-stealth): allow to re-define property
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

wip: Only override iframe.contentWindow.
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

wip: Fix toString
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix: Only override iframe.contentWindow (#565)
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-block-resources): add interception resolution mode
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-block-resources/index.test.js
Labels: plugin: puppeteer-extra

feat(plugin-adblocker): add interception resolution mode
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  yarn.lock
Labels: plugin: puppeteer-extra

fix(plugin-block-resources): disable by default, backwards compatibility
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-block-resources/readme.md
Labels: plugin: puppeteer-extra

feat(plugin-block-resources): add typescript definitions
  packages/puppeteer-extra-plugin-block-resources/index.d.ts
  packages/puppeteer-extra-plugin-block-resources/package.json
Labels: plugin: puppeteer-extra

fix(plugin-adblocker): disable by default, backwards compatibility
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-block-resources/example.js
Labels: plugin: puppeteer-extra

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
