Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

migration ts
  packages/puppeteer-extra-plugin-anonymize-ua/ava.config-ts.js
  packages/puppeteer-extra-plugin-anonymize-ua/index.test.ts
  packages/puppeteer-extra-plugin-anonymize-ua/index.ts
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless_off.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/popup.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/stresstest.ts
  packages/puppeteer-extra-plugin-click-and-wait/example.js
  packages/puppeteer-extra-plugin-devtools/index.test.ts
  packages/puppeteer-extra-plugin-devtools/index.ts
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.test.ts
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.ts
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/test/headless.ts
  packages/puppeteer-extra-plugin-recaptcha/ava.config.js
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
  packages/puppeteer-extra-plugin-repl/index.test.ts
  packages/puppeteer-extra-plugin-repl/test/headless.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.test.js
  packages/puppeteer-extra-plugin-stealth/index.test.ts
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.ts
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.ts
  packages/puppeteer-extra-plugin-stealth/test/service-worker.test.ts
  packages/puppeteer-extra-plugin-stealth/test/util.ts
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/test/addExtra.ts
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

more TS
  .gitignore
  packages/puppeteer-extra-plugin-block-resources/example.ts
  packages/puppeteer-extra-plugin-block-resources/index.test.ts
  packages/puppeteer-extra-plugin-block-resources/index.ts
  packages/puppeteer-extra-plugin-click-and-wait/example.ts
  packages/puppeteer-extra-plugin-click-and-wait/index.ts
Labels: plugin: puppeteer-extra

more ts
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/index.d.ts
  packages/puppeteer-extra-plugin-repl/index.ts
  packages/puppeteer-extra-plugin-repl/lib/REPLSession.test.ts
  packages/puppeteer-extra-plugin-repl/lib/REPLSession.ts
  packages/puppeteer-extra-plugin-repl/lib/super-readline.test.ts
  packages/puppeteer-extra-plugin-repl/lib/super-readline.ts
  packages/puppeteer-extra-plugin-stealth/index.d.ts
  packages/puppeteer-extra-plugin-stealth/index.ts
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

remove strict
  packages/puppeteer-extra-plugin-anonymize-ua/index.ts
Labels: plugin: puppeteer-extra

more TS
  packages/puppeteer-extra/package.json
Labels: package: core

more TS
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

move files
  packages/puppeteer-extra-plugin-block-resources/ava.config-ts.js
  packages/puppeteer-extra-plugin-block-resources/src/example.ts
  packages/puppeteer-extra-plugin-block-resources/src/index.ts
  packages/puppeteer-extra-plugin-block-resources/test/index.test.ts
  packages/puppeteer-extra-plugin-block-resources/tsconfig.json
  packages/puppeteer-extra-plugin/test/index.test.ts
Labels: package: core, plugin: puppeteer-extra

refactor
  packages/puppeteer-extra-plugin-adblocker/ava.config-ts.js
  packages/puppeteer-extra-plugin-adblocker/test/index.test.ts
  packages/puppeteer-extra-plugin-anonymize-ua/src/index.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless_off.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/index.test.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/stresstest.ts
  packages/puppeteer-extra-plugin-anonymize-ua/tsconfig.json
  packages/puppeteer-extra-plugin-click-and-wait/src/example.ts
  packages/puppeteer-extra-plugin-click-and-wait/src/index.ts
  packages/puppeteer-extra-plugin-click-and-wait/tsconfig.json
  packages/puppeteer-extra-plugin-devtools/src/index.ts
  packages/puppeteer-extra-plugin-devtools/test/headless.ts
  packages/puppeteer-extra-plugin-devtools/test/index.test.ts
  packages/puppeteer-extra-plugin/tsconfig.json
Labels: package: core, plugin: puppeteer-extra

drop some rollup
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/src/index.ts
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-click-and-wait/src/index.ts
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/src/index.ts
  packages/puppeteer-extra-plugin-devtools/src/lib/RemoteDevTools.ts
  packages/puppeteer-extra-plugin-devtools/test/lib/RemoteDevTools.test.ts
  packages/puppeteer-extra-plugin-devtools/tsconfig.json
Labels: plugin: puppeteer-extra

remove one rollup
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

test pass
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/headless_off.ts
  packages/puppeteer-extra-plugin-anonymize-ua/test/popup.ts
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/ava.config-ts.js
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/src/index.ts
  packages/puppeteer-extra-plugin-devtools/src/lib/RemoteDevTools.ts
  packages/puppeteer-extra-plugin-devtools/test/headless.ts
  packages/puppeteer-extra-plugin-repl/ava.config-ts.js
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-repl/src/index.ts
  packages/puppeteer-extra-plugin-repl/src/lib/REPLSession.ts
  packages/puppeteer-extra-plugin-repl/src/lib/super-readline.ts
  packages/puppeteer-extra-plugin-repl/test/REPLSession.test.ts
  packages/puppeteer-extra-plugin-repl/test/index.test.ts
  packages/puppeteer-extra-plugin-repl/test/lib/super-readline.test.ts
  packages/puppeteer-extra-plugin-repl/tsconfig.json
  packages/puppeteer-extra-plugin-stealth/ava.config-ts.js
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.ts
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

patch pptr 2 build
  packages/puppeteer-extra/src/puppeteer.ts.legacy
  packages/puppeteer-extra/src/puppeteer.ts.new
Labels: package: core

remove some use strict
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-block-resources/src/example.ts
  packages/puppeteer-extra-plugin-devtools/src/lib/RemoteDevTools.ts
  packages/puppeteer-extra-plugin-devtools/test/headless.ts
  packages/puppeteer-extra-plugin-devtools/test/lib/RemoteDevTools.test.ts
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-repl/src/index.ts
  packages/puppeteer-extra-plugin-repl/test/headless.ts
  packages/puppeteer-extra-plugin-repl/test/lib/super-readline.test.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
  packages/puppeteer-extra/test/connect.ts
  packages/puppeteer-extra/test/events.ts
  packages/puppeteer-extra/test/options.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

fix pptr 2 build
  packages/puppeteer-extra-plugin-block-resources/src/index.ts
Labels: plugin: puppeteer-extra

remove extra export
  packages/puppeteer-extra-plugin-block-resources/src/index.ts
  yarn.lock
Labels: plugin: puppeteer-extra

remove one rollup
  packages/puppeteer-extra-plugin-repl/package.json
Labels: plugin: puppeteer-extra

fix dep error
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add dep for build
  packages/puppeteer-extra-plugin-click-and-wait/package.json
Labels: plugin: puppeteer-extra

new workflow
  .github/workflows/test-legacy.yml
  .github/workflows/test.yml
  configure.js
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix configure script
  .github/workflows/test.yml
  configure.js
Labels: none

change in workflow
  .github/workflows/test.yml
  configure.js
Labels: none

patch puppeteer.ts.legacy
  packages/puppeteer-extra/src/puppeteer.ts.legacy
Labels: package: core

patch pptr legacy
  packages/puppeteer-extra/src/puppeteer.ts.legacy
Labels: package: core

try to make works pptr 2.1.1
  configure.js
  package.json
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-click-and-wait/src/index.ts
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.ts
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/test/service-worker.test.ts
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

need to update yarn.lock
  yarn.lock
Labels: none

change workflow step order
  .github/workflows/test.yml
  configure.js
Labels: none

test only pptr 8.0.0
  .github/workflows/test.yml
Labels: none

test only pptr 8.0.0 nodeV12
  .github/workflows/test.yml
Labels: none

test pptr 2.1.1 node v15
  .github/workflows/test.yml
Labels: none

should work.
  .gitignore
  configure.js
  package.json
  yarn.lock
Labels: none

enable 4 test build
  .github/workflows/test.yml
Labels: none

test only 2.1.1
  .github/workflows/test.yml
Labels: none

test only pptr 8.0.0
  .github/workflows/test.yml
Labels: none

add typing
  packages/puppeteer-extra-plugin-stealth/evasions/_template/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.ts
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.ts
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(plugin-stealth): Disable navigator.plugins in chromium 90
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Use less new JS features
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(plugin-stealth): Disable navigator.plugins tests in chromium 90
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.test.js
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(plugin-stealth): Disable navigator.plugins tests in chromium 90
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(plugin-stealth): Disable navigator.plugins tests in chromium 90
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update hCaptcha Detection. Fix berstend/puppeteer-extra#472
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴
