Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

chore: Cleanup
  packages/automation-extra-plugin/package.json
  packages/plugin-humanize/src/types.ts
Labels: package: core, plugin: automation-extra

chore: Cleanup
  helpers/test/wrap/package.json
  packages/automation-extra-plugin/package.json
Labels: package: core

docs: Update documentation
  packages/playwright-extra/readme.md
  packages/plugin-recaptcha/readme.md
Labels: plugin: automation-extra, plugin: recaptcha 🏴

chore(automation-extra-plugin): Use NestedPartial for plugin opts
  packages/automation-extra-plugin/src/index.ts
  packages/plugin-humanize/src/index.ts
  packages/plugin-recaptcha/src/index.ts
Labels: package: core, plugin: automation-extra, plugin: recaptcha 🏴

chore: Make test more robust
  packages/plugin-humanize/test/click.ts
Labels: plugin: automation-extra

fix(plugin-stealth): Improve toString stack traces
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Fix flakey tests
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Improve toString stack traces (#427)
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(automation-extra-plugin): Add type guard tests
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra-plugin/src/test/typeGuards.ts
Labels: package: core

feat(automation-extra-plugin): Add CDP session shim
  packages/automation-extra-plugin/ava.config-ts.js
  packages/automation-extra-plugin/package.json
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra-plugin/test/cdpSession.ts
  packages/automation-extra-plugin/test/shim.ts
  packages/automation-extra-plugin/test/typeGuards.ts
  packages/automation-extra-plugin/tsconfig.build.json
  packages/automation-extra-plugin/tsconfig.eslint.json
  packages/automation-extra-plugin/tsconfig.json
  yarn.lock
Labels: package: core

fix: Add devtools-protocol dependency
  packages/automation-extra-plugin/package.json
  yarn.lock
Labels: package: core

fix: Make CDP test more robust
  packages/automation-extra-plugin/test/cdpSession.ts
Labels: package: core

feat(automation-extra-plugin): Add onWorkerCreated
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra/src/base.ts
  packages/automation-extra/test/worker.ts
Labels: package: core

fix: Make test work with old pptr
  packages/automation-extra/test/worker.ts
Labels: package: core

chore: Add note about puppeteer@7 breaking types
  packages/puppeteer-extra/readme.md
Labels: package: core

feat(plugin-stealth): Rewrite navigator.permissions evasion
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat(plugin-stealth): Rewrite navigator.permissions evasion (#429)
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

feat(automation-extra): Add event emitter
  packages/automation-extra-plugin/package.json
  packages/automation-extra-plugin/rollup.config.ts
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra-plugin/test/eventEmitter.ts
  packages/automation-extra/src/plugins.ts
  yarn.lock
Labels: package: core

chore: Fix failing test
  packages/automation-extra/test/plugin.pw.ts
Labels: package: core

Upgrade fs-extra, possible fix for #421
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  yarn.lock
Labels: plugin: puppeteer-extra

Update iFrame documentation
  packages/puppeteer-extra-plugin-recaptcha/readme.md
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

update user-agent version regex extraction
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

replacing deprecated waitFor for waitForTimeout
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-devtools/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.js
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

injecting waitForTimeout 4 older v. compatibility
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

2nd
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix missed error handler in 2captcha api
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-stealth): Enhancing the navigator.webdriver evasion for Chrome 89.0.4339.0 and on (#448)
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.test.js
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
  packages/puppeteer-extra-plugin-stealth/test/util.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-recaptcha): Add missing error handler in 2captcha api (#447)
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat(plugin-stealth): Enhance the navigator.webdriver evasion for Chrome 89.0.4339 (#449)
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.test.js
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
  packages/puppeteer-extra-plugin-stealth/test/util.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore: Replace deprecated waitFor with waitForTimeout (#441)
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-devtools/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.js
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

chore: Upgrade fs-extra, possible fix for #421 (#436)
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  yarn.lock
Labels: plugin: puppeteer-extra

chore: Update yarn.lock
  yarn.lock
Labels: none

chore: Bump @types/puppeteer to 5.4.3
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-recaptcha): Use 2captcha https API endpoint
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

chore(plugin-recaptcha): Revert 2captcha API endpoint to http due to issues
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore(plugin-recaptcha): Trigger version change
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
