Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

docs: Update documentation
  packages/automation-extra-plugin/readme.md
  packages/automation-extra/readme.md
  packages/playwright-extra/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/_template/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/readme.md
  packages/puppeteer-extra-plugin-stealth/index.d.ts
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-recaptcha): Fix build process output
  packages/plugin-recaptcha/tsconfig.json
Labels: plugin: automation-extra, plugin: recaptcha 🏴

chore: Update yarn.lock
  yarn.lock
Labels: none

docs: Update documentation
  packages/automation-extra-plugin/readme.md
  packages/automation-extra/readme.md
  packages/playwright-extra/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/_template/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.app/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.csi/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/media.codecs/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/readme.md
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

docs: Update documentation
  packages/automation-extra-plugin/readme.md
Labels: package: core

feat(automation-extra-plugin): Add new plugins stanza
  packages/automation-extra-plugin/readme.md
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra/src/plugins.ts
  packages/automation-extra/test/plugin-stanza.ts
Labels: package: core

feat(automation-extra-plugin): Add new filter stanza
  packages/automation-extra-plugin/readme.md
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra/src/base.ts
  packages/automation-extra/src/plugins.ts
  packages/automation-extra/test/filter-stanza.ts
Labels: package: core

feat(automation-extra): Add support for filter inheritance
  packages/automation-extra/src/plugins.ts
  packages/automation-extra/test/filter-stanza.ts
Labels: package: core

feat(automation-extra-plugin): Make plugin options type safe
  packages/automation-extra-plugin/src/index.ts
  packages/automation-extra/src/plugins.ts
Labels: package: core

chore: Fix linting
  packages/automation-extra/src/plugins.ts
Labels: package: core

Added test for inconsistencies between page and service workers
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fixtures/dummy-with-service-worker.html
  packages/puppeteer-extra-plugin-stealth/test/fixtures/sw.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Wrong assert
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Added CreepJS test
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix plugin leak
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add evaluateOnNewDocument() alias
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

Add reCAPTCHA Enterprise support
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Use value instead of getter for navigator.hardwareConcurrency
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Use util functions for navigator.languages
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Nicer code in navigator.permissions
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Disable SW test
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Typo fix
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix tests
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Skip SW fixture in ava
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add workflow matrix entry for pptr 5.5.0
  .github/workflows/test.yml
Labels: none

chore: Update gitignore
  .gitignore
Labels: none

chore: Update yarn.lock
  yarn.lock
Labels: none

chore: Update gitignore
  .gitignore
Labels: none

docs: Replacce Travis, update copyright
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Revert cat & mouse test
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Add separate SW test (skipped for now)
  packages/puppeteer-extra-plugin-stealth/test/service-worker.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Disable 5.5.0 again
  .github/workflows/test.yml
Labels: none

Support service workers/shared workers (#401)
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/test/fixtures/dummy-with-service-worker.html
  packages/puppeteer-extra-plugin-stealth/test/fixtures/sw.js
  packages/puppeteer-extra-plugin-stealth/test/service-worker.test.js
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

chore: Remove onWorkerCreated plugin lifecycle method
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Remove user-data-dir recursively
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

fix(plugin-user-data-dir): Prevent ENOTEMPTY error (#405)
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

Publish
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

fix(plugin-stealth): Improve navigator patching
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

ci(plugin-stealth): Disable CI linting for now
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

chore(plugin-stealth): Fix failing test
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️
