Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

feat(plugin-recaptcha): Add playwright type mods (#665)
  packages/puppeteer-extra-plugin-recaptcha/src/playwright-mods.d.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore: Remove prebublish script
  packages/playwright-extra/package.json
Labels: none

chore: Remove peer dependency
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update readme.md
  packages/puppeteer-extra-plugin-recaptcha/readme.md
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update readme.md
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update readme.md
  packages/puppeteer-extra-plugin-recaptcha/readme.md
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update README.md
  README.md
Labels: none

Update readme.md
  packages/puppeteer-extra/readme.md
Labels: package: core

chore:(playwright-extra): Rerelease as v4.3
  packages/playwright-extra/readme.md
Labels: none

Publish
  packages/extract-stealth-evasions/package.json
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

chore: Remove deprecated puppeteer-firefox
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/test/addExtra.ts
Labels: package: core

chore:(playwright-extra): Bump minimum Node version to 12
  packages/playwright-extra/package.json
Labels: none

ci: Simplify node test matrix
  .github/workflows/test.yml
Labels: none

ci(plugin-devtools): Disable flaky tests
  packages/puppeteer-extra-plugin-devtools/index.test.js
  packages/puppeteer-extra-plugin-devtools/test/headless.js
Labels: plugin: puppeteer-extra

chore: Remove deprecated puppeteer-firefox (#673)
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/test/addExtra.ts
Labels: package: core

chore:(playwright-extra): Bump minimum Node version to 12 (#674)
  packages/playwright-extra/package.json
Labels: none

chore: Use peerDependencies marked as optional
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core

chore: Add missing @types/node dependency
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core

Publish
  packages/extract-stealth-evasions/package.json
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

chore: Revert typings change
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core

chore: Add @types/puppeteer dev depdency
  packages/puppeteer-extra/package.json
Labels: package: core

chore: Add optional transitive peerDependencies
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

chore: Use peerDependencies marked as optional (#675)
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

chore(plugin-adblocker): Extend peerDependencies (fixes #644)
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

Publish
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

docs: Update chat link
  .github/ISSUE_TEMPLATE/bug.md
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/playwright-extra/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

feat(plugin-adblocker): Add option blockTrackersAndAnnoyances (#593)
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
Labels: plugin: puppeteer-extra

docst(plugin-adblocker): Mention blockTrackersAndAnnoyances option
  packages/puppeteer-extra-plugin-adblocker/readme.md
Labels: plugin: puppeteer-extra

Publish
  packages/puppeteer-extra-plugin-adblocker/package.json
Labels: plugin: puppeteer-extra

Add missing comma :(
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

fix(plugin-user-data-dir): Use rimraf to delete temp userDataDir (#656)
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix: work around sites with Array.from polyfills
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
