Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*

test(plugin-block-resources): fix test
  packages/puppeteer-extra-plugin-block-resources/index.test.js
Labels: plugin: puppeteer-extra

style: fix identation
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
Labels: plugin: puppeteer-extra

feat(plugin-adblocker): Add option for fromPrebuiltFull
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
Labels: plugin: puppeteer-extra

fix(plugin-block-resources): fix comment
  packages/puppeteer-extra-plugin-block-resources/index.js
Labels: plugin: puppeteer-extra

fix(plugin-block-resources): use new API in puppeteer v13
  packages/puppeteer-extra-plugin-block-resources/index.js
Labels: plugin: puppeteer-extra

chore: run tests with puppeteer v10.2.0
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra

chore: update adblocker-puppeteer to v1.23.2
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra

fix(plugin-block-resources): remove not needed intercept resolution state
  packages/puppeteer-extra-plugin-block-resources/index.js
Labels: plugin: puppeteer-extra

fix: apply PR suggestions
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-block-resources/example.js
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-block-resources/readme.md
Labels: plugin: puppeteer-extra

Update readme.md
  packages/puppeteer-extra-plugin-recaptcha/readme.md
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

feat: navigator.languages add `navigator.language` support
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Append patch version to UA hint platform version
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

document change
  packages/puppeteer-extra-plugin-recaptcha/readme.md
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Change `hcaptcha.com` script recognition url
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix hcaptcha challenge query selector
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

clean a single tsconfig
  packages/puppeteer-extra/tsconfig.json
Labels: package: core

fix test unit
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

tryc convert connect.js to connect.ts
  packages/puppeteer-extra/test/connect.ts
Labels: package: core

fix connect.ts
  packages/puppeteer-extra/test/connect.ts
Labels: package: core

migrate ava js to ts
  packages/puppeteer-extra/test/connect.ts
  packages/puppeteer-extra/test/events.ts
  packages/puppeteer-extra/test/options.ts
  packages/puppeteer-extra/test/plugin-support.ts
Labels: package: core

ava js test
  packages/puppeteer-extra/package.json
Labels: package: core

fix event.ts
  packages/puppeteer-extra/test/events.ts
Labels: package: core

2 more any
  packages/puppeteer-extra/test/options.ts
Labels: package: core

add some any
  packages/puppeteer-extra/test/options.ts
Labels: package: core

fix error in option.ts
  packages/puppeteer-extra/test/options.ts
Labels: package: core

patch test
  packages/puppeteer-extra/test/options.ts
Labels: package: core

remove ava config files
  packages/puppeteer-extra/ava.config-ts.js
  packages/puppeteer-extra/ava.config.js
  packages/puppeteer-extra/package.json
Labels: package: core

update PuppeteerExtra typing
  packages/puppeteer-extra/src/index.ts
Labels: package: core

add semicons
  packages/puppeteer-extra/src/index.ts
Labels: package: core

"typescript": "4.4.4"
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

rollback
  packages/puppeteer-extra/src/index.ts
Labels: package: core

remove contraint from PluginData
  packages/puppeteer-extra/src/index.ts
Labels: package: core

fix model inconcistancy
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core

split a ts file
  packages/puppeteer-extra/src/deps.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core

update build matrix
  .github/workflows/test.yml
Labels: none

update test for pptr 12+
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
  packages/puppeteer-extra/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

fix pptr 12+ test
  packages/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add pptr 13.7.0 test
  .github/workflows/test.yml
  packages/puppeteer-extra/src/index.ts
Labels: package: core

fix pptr 5 + update ava test
  packages/puppeteer-extra-plugin/ava.config-ts.js
  packages/puppeteer-extra-plugin/ava.config.js
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/test/index.test.ts
  packages/puppeteer-extra/src/index.ts
Labels: package: core

rollback matrix
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
Labels: package: core
