Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix: esbuild issue with eval'ed content scripts and __name
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

don't call rimraf if the userDataDir path isn't set
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

Fix minor typo in readme ("whish" -> "wish")
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

add rucaptcha to config
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/src/provider/rucaptcha-api.ts
  packages/puppeteer-extra-plugin-recaptcha/src/provider/rucaptcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix(plugin-recaptcha): fix solving hcaptcha
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Update readmes
  packages/playwright-extra/readme.md
  packages/plugin-proxy-router/readme.md
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin/readme.md
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix(plugin-recaptcha): Solve hcaptcha on newassets.hcaptcha.com (#771)
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
  packages/puppeteer-extra-plugin-recaptcha/src/solve.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore: Update url used in tests
  packages/puppeteer-extra-plugin-recaptcha/src/index.test.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix(plugin-recaptcha): Support esbuild transpilation of content scripts (#758)
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix(plugin-recaptcha): Enhance esbuild transpilation support of content scripts (#763)
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

fix(plugin-user-data-dir): Check userDataDir before attempting removal (#767)
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

chore(plugin-user-data-dir): Use debug not console
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/playwright-extra/package.json
  packages/plugin-proxy-router/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix(puppeteer-extra): Prefer puppeteer over puppeteer-core (#755)
  packages/puppeteer-extra/src/index.ts
Labels: package: core

Publish
  packages/extract-stealth-evasions/package.json
  packages/plugin-proxy-router/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

Auto-updated stealth.min.js with newest evasions
  stealth.min.js
Labels: none

Make readme.md more consistent and fix small error
  packages/playwright-extra/readme.md
Labels: none

Update readme.md
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

feat: Create SessionPersistence plugin
  packages/puppeteer-extra-plugin-session-persistence/ava.config-ts.js
  packages/puppeteer-extra-plugin-session-persistence/ava.config.js
  packages/puppeteer-extra-plugin-session-persistence/build_version_check.js
  packages/puppeteer-extra-plugin-session-persistence/package.json
  packages/puppeteer-extra-plugin-session-persistence/readme.md
  packages/puppeteer-extra-plugin-session-persistence/rollup.config.ts
  packages/puppeteer-extra-plugin-session-persistence/src/ambient.d.ts
  packages/puppeteer-extra-plugin-session-persistence/src/index.ts
  packages/puppeteer-extra-plugin-session-persistence/src/puppeteerExtraPluginSessionPersistence.ts
  packages/puppeteer-extra-plugin-session-persistence/src/storage/fileSystemStorage.test.ts
  packages/puppeteer-extra-plugin-session-persistence/src/storage/fileSystemStorage.ts
  packages/puppeteer-extra-plugin-session-persistence/src/storage/inMemoryStorage.test.ts
  packages/puppeteer-extra-plugin-session-persistence/src/storage/inMemoryStorage.ts
  packages/puppeteer-extra-plugin-session-persistence/src/storage/redisStorage.test.ts
  packages/puppeteer-extra-plugin-session-persistence/src/storage/redisStorage.ts
  packages/puppeteer-extra-plugin-session-persistence/src/types.ts
  packages/puppeteer-extra-plugin-session-persistence/tsconfig.json
  packages/puppeteer-extra-plugin-session-persistence/tslint.json
Labels: plugin: puppeteer-extra

Update README.md
  README.md
Labels: none

feat: refactor some types
  packages/puppeteer-extra-plugin-session-persistence/build_version_check.js
  packages/puppeteer-extra-plugin-session-persistence/package.json
  packages/puppeteer-extra-plugin-session-persistence/src/puppeteerExtraPluginSessionPersistence.ts
  packages/puppeteer-extra-plugin-session-persistence/src/types.ts
Labels: plugin: puppeteer-extra

fix: forgot to refactor storage options
  packages/puppeteer-extra-plugin-session-persistence/src/types.ts
Labels: plugin: puppeteer-extra

docs: update readme
  packages/puppeteer-extra-plugin-session-persistence/readme.md
Labels: plugin: puppeteer-extra

fix: onPageCreator was considered as a property not method
  packages/puppeteer-extra-plugin-session-persistence/package.json
  packages/puppeteer-extra-plugin-session-persistence/src/index.ts
  packages/puppeteer-extra-plugin-session-persistence/src/puppeteerExtraPluginSessionPersistence.ts
Labels: plugin: puppeteer-extra

feat: add debug
  packages/puppeteer-extra-plugin-session-persistence/src/index.ts
Labels: plugin: puppeteer-extra

feat: split helpers in other file + add polling function
  packages/puppeteer-extra-plugin-session-persistence/package.json
  packages/puppeteer-extra-plugin-session-persistence/readme.md
  packages/puppeteer-extra-plugin-session-persistence/src/helpers.test.ts
  packages/puppeteer-extra-plugin-session-persistence/src/helpers.ts
  packages/puppeteer-extra-plugin-session-persistence/src/index.ts
  packages/puppeteer-extra-plugin-session-persistence/src/types.ts
Labels: plugin: puppeteer-extra

chore: update npm package version
  packages/puppeteer-extra-plugin-session-persistence/package.json
Labels: plugin: puppeteer-extra

fix: fix readme + exception on wrong storage
  packages/puppeteer-extra-plugin-session-persistence/package.json
  packages/puppeteer-extra-plugin-session-persistence/src/storage/fileSystemStorage.ts
  packages/puppeteer-extra-plugin-session-persistence/src/types.test.ts
  packages/puppeteer-extra-plugin-session-persistence/src/types.ts
Labels: plugin: puppeteer-extra

Fix macOS user agent hint in stealth mode
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Support exceptions (allowlist/whitelist) in adblocker Fixes #180
  packages/puppeteer-extra-plugin-adblocker/src/index.test.ts
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
Labels: plugin: puppeteer-extra

Fix accidental formatting change
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
Labels: plugin: puppeteer-extra

Not using ua if browser is firefox
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Rename readme.md to readme1.md
  packages/puppeteer-extra-plugin-recaptcha/readme1.md
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Updated 'headless' flag to 'new' to prevent deprecation warnings
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix user agent override silent failure
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Fix hcaptcha iframe URL parsing
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

Fix "cdpSession.send: Target page, context or browser has been closed"
  packages/playwright-extra/src/puppeteer-compatiblity-shim/index.ts
Labels: none

move table of contents to the top of readme file
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
