Repository berstend/puppeteer-extra, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, plugin: automation-extra, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

upgrade url-parse dependency
  packages/puppeteer-extra-plugin-devtools/package.json
Labels: plugin: puppeteer-extra

Fix launch options
  packages/puppeteer-extra/src/index.ts
Labels: package: core

puppeteer-extra compatibility fix with newest versions of puppeteer
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer.ts
  yarn.lock
Labels: package: core

puppeteer-extra-plugin some fixes
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

Update dependencies versions
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Update fs-extra to v10.0.0 to avoid DeprecationWarning
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

fix: iframe.contentWindow[0]
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix: tab closed error
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

create package
  package-lock.json
  package.json
Labels: none

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

update release for just puppeteer-extra
  lerna.json
Labels: none

update package.json
  package.json
Labels: none

workflow to publish package
  .github/workflows/release-package.yml
  .npmrc
  package.json
Labels: none

Prevent changing user agent of a closed page.
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-user-data-dir): Use onDisconnect instead of onClose (#530)
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix(plugin-stealth): Improve iframe.contentWindow evasion (#545)
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

ci(plugin-stealth): Disable flaky iframe.contentWindow test
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

fix _getPlatformVersion
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

docs: Add package testing example
  README.md
Labels: none

feat: Support old and new puppeteer types
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
  packages/puppeteer-extra-plugin/tsconfig.json
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra/tsconfig.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

ci: Update puppeteer version matrix
  .github/workflows/test.yml
Labels: none

[FIX][berstend/puppeteer-extra#556]
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

fix(recaptcha) findRecaptcha() does not wait indefinitely to timeout when not finding captchas
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

lint: Refactor if statement
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

chore: TS fix
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
Labels: plugin: puppeteer-extra

feat: Disable hoisting for types, upgrade adblocker plugin
  package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
  packages/puppeteer-extra-plugin/package.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra

lint: Make TS happy
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core

chore: Update deps
  yarn.lock
Labels: none

fix: Add mising dev dep due to hoisting rule
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

chore: Add @types/puppeteer as dev dependency
  packages/puppeteer-extra-plugin/package.json
Labels: package: core

ci: Add smaller fixes
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

ci: Testing ci
  .github/workflows/test.yml
Labels: none

ci: Testing ci
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
  yarn.lock
Labels: plugin: puppeteer-extra

chore: Disable adblocker plugin build in old pptr versions
  packages/puppeteer-extra-plugin-adblocker/build_version_check.js
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
  yarn.lock
Labels: plugin: puppeteer-extra

ci: Testing ci
  .github/workflows/test.yml
Labels: none

feat: Support old and new puppeteer types (#555)
  .github/workflows/test.yml
  README.md
  package.json
  packages/puppeteer-extra-plugin-adblocker/build_version_check.js
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
  packages/puppeteer-extra-plugin/tsconfig.json
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra/tsconfig.json
  yarn.lock
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴

Publish
  packages/extract-stealth-evasions/package.json
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-anonymize-ua/package.json
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-click-and-wait/package.json
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-flash/package.json
  packages/puppeteer-extra-plugin-font-size/package.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-repl/package.json
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  packages/puppeteer-extra-plugin-user-preferences/package.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra/package.json
Labels: package: core, plugin: puppeteer-extra, plugin: recaptcha 🏴, plugin: stealth ㊙️

fix(plugin-stealth): Improve iframe.srcdoc evasion
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

'package: core':
  - packages/automation-extra/**/*
  - packages/playright-extra/**/*
  - packages/puppeteer-extra/**/*
  - packages/automation-extra-plugin/**/*
  - packages/puppeteer-extra-plugin/**/*

'plugin: automation-extra':
  - packages/plugin-*/**/*

'plugin: puppeteer-extra':
  - packages/puppeteer-extra-plugin-*/**/*

'plugin: recaptcha 🏴':
  - packages/*recaptcha*/**/*

'plugin: stealth ㊙️':
  - packages/*stealth*/**/*
