Repository berstend/puppeteer-extra, pull requests merged in 2021-01, with the labels that each got.

#401 Support service workers/shared workers
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
  packages/puppeteer-extra-plugin-stealth/package.json
  packages/puppeteer-extra-plugin-stealth/test/fixtures/dummy-with-service-worker.html
  packages/puppeteer-extra-plugin-stealth/test/fixtures/sw.js
  packages/puppeteer-extra-plugin-stealth/test/service-worker.test.js
  packages/puppeteer-extra-plugin/src/index.ts
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

#405 fix(plugin-user-data-dir): Prevent ENOTEMPTY error
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

#409 fix(plugin-stealth): Improve navigator patching
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

#400 feat(plugin-recaptcha): Add support for reCAPTCHA Enterprise Add reCAPTCHA Enterprise support
  packages/puppeteer-extra-plugin-recaptcha/src/content.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴
