Repository berstend/puppeteer-extra, pull requests merged in 2021-03, with the labels that each got.

#447 fix(plugin-recaptcha): Add missing error handler in 2captcha api
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: puppeteer-extra, plugin: recaptcha 🏴

#449 feat(plugin-stealth): Enhance the navigator.webdriver evasion for Chrome 89.0.4339
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.test.js
  packages/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
  packages/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
  packages/puppeteer-extra-plugin-stealth/test/util.js
Labels: plugin: puppeteer-extra, plugin: stealth ㊙️

#441 chore: Replace deprecated waitFor with waitForTimeout
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-devtools/readme.md
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
  packages/puppeteer-extra-plugin-stealth/readme.md
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headful-chromium-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chrome-vanilla.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-stealth.js
  packages/puppeteer-extra-plugin-stealth/stealthtests/headless-chromium-vanilla.js
  packages/puppeteer-extra/readme.md
Labels: package: core, plugin: puppeteer-extra, plugin: stealth ㊙️

#436 chore: Upgrade fs-extra, possible fix for #421
  packages/puppeteer-extra-plugin-user-data-dir/package.json
  yarn.lock
Labels: plugin: puppeteer-extra
