Repository berstend/puppeteer-extra, pull requests merged in 2021-09, with the labels that each got.

#530 fix(plugin-user-data-dir): Use onDisconnect instead of onClose
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

#545 fix(plugin-stealth): Improve iframe.contentWindow evasion
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: stealth ㊙️, plugin: puppeteer-extra

#555 feat: Support old and new puppeteer types
  .github/workflows/test.yml
  README.md
  package.json
  packages/puppeteer-extra-plugin-adblocker/build_version_check.js
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/tsconfig.json
  packages/puppeteer-extra-plugin-recaptcha/package.json
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
  packages/puppeteer-extra-plugin-recaptcha/tsconfig.json
  packages/puppeteer-extra-plugin/package.json
  packages/puppeteer-extra-plugin/src/index.ts
  packages/puppeteer-extra-plugin/src/puppeteer.ts
  packages/puppeteer-extra-plugin/tsconfig.json
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/src/puppeteer-legacy.d.ts
  packages/puppeteer-extra/tsconfig.json
  yarn.lock
Labels: plugin: recaptcha 🏴, plugin: puppeteer-extra, package: core

#563 fix(plugin-stealth): Support generic windows UA in user-agent-override
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
  packages/puppeteer-extra-plugin-stealth/package.json
Labels: plugin: stealth ㊙️, plugin: puppeteer-extra

#562 fix(plugin-stealth): Improve iframe.srcdoc evasion
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
Labels: plugin: stealth ㊙️, plugin: puppeteer-extra

#506 fix(plugin-stealth): Make makeHandler consistent with real getters
  packages/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
Labels: plugin: stealth ㊙️, plugin: puppeteer-extra

#564 fix(plugin-user-data-dir): Use new fs.rmSync when available
  packages/puppeteer-extra-plugin-user-data-dir/index.js
Labels: plugin: puppeteer-extra

#536 deps(plugin-devtools): Bump url-parse from 1.4.0 to 1.5.3
  packages/puppeteer-extra-plugin-devtools/package.json
Labels: plugin: puppeteer-extra

#542 deps(plugin-user-data-dir): Bump fs-extra to v10.0.0 to avoid DeprecationWarning
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra

#567 fix(plugin-devtools): Support headless again by modifying index page
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
  packages/puppeteer-extra-plugin-devtools/package.json
  packages/puppeteer-extra-plugin-devtools/readme.md
  packages/puppeteer-extra-plugin-devtools/test/headless.js
  yarn.lock
Labels: plugin: puppeteer-extra

#569 fix(plugin-devtools): Add localtunnel error event
  packages/puppeteer-extra-plugin-devtools/lib/RemoteDevTools.js
Labels: plugin: puppeteer-extra
