Repository berstend/puppeteer-extra, pull requests merged in 2022-07, with the labels that each got.

#665 feat(plugin-recaptcha): Add playwright type mods
  packages/puppeteer-extra-plugin-recaptcha/src/playwright-mods.d.ts
  packages/puppeteer-extra-plugin-recaptcha/src/types.ts
Labels: plugin: recaptcha 🏴, plugin: puppeteer-extra

#673 chore(puppeteer-extra): Remove deprecated `puppeteer-firefox`
  packages/puppeteer-extra/package.json
  packages/puppeteer-extra/readme.md
  packages/puppeteer-extra/src/index.ts
  packages/puppeteer-extra/test/addExtra.ts
Labels: package: core

#593 feat(plugin-adblocker): Add option for fromPrebuiltFull
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
Labels: plugin: puppeteer-extra

#656 fix(plugin-user-data-dir): Use rimraf to delete temp userDataDir
  .github/workflows/test.yml
  packages/puppeteer-extra-plugin-user-data-dir/index.js
  packages/puppeteer-extra-plugin-user-data-dir/package.json
Labels: plugin: puppeteer-extra
