Repository berstend/puppeteer-extra, pull requests merged in 2022-06, with the labels that each got.

#653 fix(plugin-stealth): Support puppeteer 14 private cdp client
  packages/puppeteer-extra-plugin-stealth/evasions/defaultArgs/index.test.js
  packages/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
  packages/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
Labels: plugin: stealth ㊙️, plugin: puppeteer-extra

#640 fix(plugin-recaptcha): Update hcaptcha challenge query selector
  packages/puppeteer-extra-plugin-recaptcha/src/content-hcaptcha.ts
Labels: plugin: recaptcha 🏴, plugin: puppeteer-extra

#629 fix(plugin-recaptcha): Change `hcaptcha.com` script recognition url
  packages/puppeteer-extra-plugin-recaptcha/src/index.ts
Labels: plugin: recaptcha 🏴, plugin: puppeteer-extra

#493 docs: Fix readme typo
  packages/puppeteer-extra-plugin-stealth/readme.md
Labels: plugin: stealth ㊙️, plugin: puppeteer-extra

#457 feat(plugin-recaptcha): Use https for the 2captcha captcha solving API
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha-api.ts
Labels: plugin: recaptcha 🏴, plugin: puppeteer-extra

#592 feat(plugin-adblocker): Add cooperative intercept mode support
  packages/puppeteer-extra-plugin-adblocker/package.json
  packages/puppeteer-extra-plugin-adblocker/readme.md
  packages/puppeteer-extra-plugin-adblocker/src/index.ts
  packages/puppeteer-extra-plugin-block-resources/example.js
  packages/puppeteer-extra-plugin-block-resources/index.d.ts
  packages/puppeteer-extra-plugin-block-resources/index.js
  packages/puppeteer-extra-plugin-block-resources/index.test.js
  packages/puppeteer-extra-plugin-block-resources/package.json
  packages/puppeteer-extra-plugin-block-resources/readme.md
  packages/puppeteer-extra/package.json
  yarn.lock
Labels: plugin: puppeteer-extra, package: core

#580 feat(plugin-recaptcha): Add proxy support
  packages/puppeteer-extra-plugin-recaptcha/readme.md
  packages/puppeteer-extra-plugin-recaptcha/src/provider/2captcha.ts
Labels: plugin: recaptcha 🏴, plugin: puppeteer-extra
